<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-messages">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
<h2>Signup</h2>
        <form action="/signup" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
              <button type="submit">Login</button>
        </form>

        <p class="links">
          Already have an account? <a href="{{ url_for('login') }}">login</a><br>
          <a href="{{ url_for('forgot') }}">Forgot Password?</a>
        </p>
</body>
</html>